<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Früchte</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body>
    <h1>Bitches
    </h1>
    <div id="app">
        <table class="table">
            <tr><th>id</th><th>name</th><th>anzahl</th></tr>
            <tr v-for="frucht in fruechte">
                <td>{{frucht.id}}</td>
                <td>{{frucht.name}}</td>
                <td>{{frucht.anzahl}}</td>
            </tr>
        </table>
        <div class="container">
            <label for="inputName">Name</label>
            <input class="input-group " v-model="newName" id="inputName" type="text">
            <label for="inputAnzahl">Anzahl</label>
            <input class="input-group " v-model="newAnzahl" id="inputAnzahl" type="text">
            <button class="btn btn-primary" @click="buttonNewClick" >Hinzufügen</button>
        </div>
        <table class="table">
            <tr><th>id</th><th>beschriftung</th><th>masse</th><th>dealer</th></tr>
            <tr v-for="droge in drogen">
                <td>{{droge.id}}</td>
                <td>{{droge.beschriftung}}</td>
                <td>{{droge.masse}}</td>
                <td>{{droge.dealer}}</td>
            </tr>
        </table>
        <div class="container">
            <label for="inputBeschriftung">Beschriftung</label>
            <input class="input-group " v-model="newBeschriftung" id="inputBeschriftung" type="text">
            <label for="inputMasse">Masse</label>
            <input class="input-group " v-model="newMasse" id="inputMasse" type="text">
            <label for="inputDealer">Dealer</label>
            <input class="input-group " v-model="newDealer" id="inputDealer" type="text">
            <button class="btn btn-primary" @click="buttonNewDroge" >Droge Hinzufügen</button>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="app.js"></script>
</body>
</html>